node_modules
npm-debug.log
# ESLint cache
.eslintcache
coverage
.serverless
# Test leftovers
node-dependencies-*
ksonnet-lib
kubeless_linux-amd64.zip
test/kubeless.jsonnet
test/kafka-zookeeper.jsonnet
